<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

</head>
<body>
<script>
	function validate()
	{
	var pwd=document.getElementById("pwd").value;
	var cpwd=document.getElementById("cpwd").value;
	if(pwd==cpwd)
	return true;
	else
	alert("Password Not Matched")
	return false;
	}
</script>
<form class="login100-form validate-form p-b-33 p-t-5" action="resetpassword"  onsubmit="return validate()" method="post">

	<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Enter New Password" id="pwd">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="cpassword" placeholder="Confirm New Password" id="cpwd">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
    <div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" type="submit">
							Change Password
						</button>
</form>

</body>
</html>